.Projects-Body {
    background-color: rgb(238,238,238);
    height: max-content;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.Project-Row {
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: row;
    background-color: none;
}


